/* ==================================================================
   Sizes
   ================================================================== */

:root {
  --spacing: 30px;
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-third: calc(var(--spacing) / 3);

  --border-width: 2px;
}
